body{
    background-color: lightgray;
    display: flex;
}
body div{
    flex-grow: 1;
    background-color: white;
    margin: 5px;
    margin-top: 0px;
}
body div:first-child{
    margin-left: 0px;
}
body div:last-child{
    margin-right: 0px;
}
ul{
    list-style-type: none;
}
#submit{
    background-color: rgb(22, 84, 255);
    color: rgb(255, 255, 255);
    padding: 10px 8px;
    border-radius: 50px;
    margin: 10px 30px;
    border: none;
}
#submit:disabled{
    background-color: gray;
}
#meals-list li{
    cursor:pointer;
}
.selected{
    background-color: lightblue;
}